<footer>
    <div class="container p-0 d-flex justify-content-between align-items-center">

        <a class="d-block h-100" href="/"><img src="/assets/img/logo.png" style="height:50px;" alt=" logo"></a>

    </div>
</footer>