<footer class="fixed-bottom">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <a class="d-block h-100" href="/"><img src="/assets/img/logo.png" style="height:50px;" alt=" logo"></a>
        <h6 class="text-light">&copy; 2020 Copy rights reserved</h6>
    </div>
</footer>