<header>
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <div>
            <a class="align-self-center" href="/"><img src="/assets/img/logo.png" style="height:50px;" alt=" logo"></a>
            <span class="logo">Portal</span>
        </div>
        <a href="/">
            <h5 class="text-light">Logout</h5>
        </a>
    </div>

</header>