<form action="" method="post" id='test'>
    <input type="text" name="" id="yes">
    <button type="submit">Click</button>
</form>
<script>
    $('#test').submit((e) => {
        e.preventDefault();
    })
</script>