html{
    height:100%;
}
body{
    min-height:100%;
}

.bottom {
    width: 100%;
    margin-top: 20px;
    min-height: 200px;
    max-height: 200px;
}
.department {
    max-height: 375px;
    min-height: 375px;
    margin: 20px 10px 20px 20px;
}
.role {
    max-height: 375px;
    min-height: 375px;
    margin: 20px 10px 10px 10px;
}
.employee {
    max-height: 375px;
    min-height: 375px;
    margin: 20px 20px 20px 10px;
}
footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    background-color:#333333;
}
.w-95{
    width:95%;
}
.h-90{
    max-height:70vh;
    overflow-y: scroll;
}

.item{
  border-radius: 5px;
  background-color: #f2f3cb;
}