html{
    height:100%;
}
body{
    min-height:100%;
    background-color: #354F68;
}
.welcome{

color:#E2EBF3;

}
.login-card{
    background-color: #E2F0FB;
    min-height:40vh;
}
.login-cont{
    background-color: #2A4455;
    border-radius: 20px;
    min-height:40vh;
}
/* .bottom {
    width: 100%;
    margin-top: 20px;
    min-height: 200px;
    max-height: 200px;
} */
/* .department {
    max-height: 375px;
    min-height: 375px;
    margin: 20px 10px 20px 20px;
} */
/* .role {
    max-height: 375px;
    min-height: 375px;
    margin: 20px 10px 10px 10px;
} */
/* .employee {
    max-height: 375px;
    min-height: 375px;
    margin: 20px 20px 20px 10px;
} */
header{
    background-color:#2A4455;
}
footer {
    height: 60px;
    background-color:#2A4455;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.w-95{
    width:95%;
}
.h-90{
    max-height:70vh;
    overflow-y: scroll;
}

.item{
  border-radius: 5px;
  background-color: #f2f3cb;
}
.itemA{
    border-radius: 5px;
    background-color: #cbf3cb;
  }