* { 
    box-sizing: border-box; 
}  
html { 
    min-height: 100%; 
} 
body { 
    max-width: 100%;
    min-height: inherit; 
    margin: 0; 
    padding: 0; 
    background-color:#98a3ad;
} 
.welcome{
    font-size: 10vh;
    color:#E2EBF3;
}
.logo{
    color:#E22028;
    font-size:2rem;
    font-family: 'Goldman', cursive;
}
.card{
    background-color: #BCBDC0;
    border:0;
}
.card-header{
    background-color:  #2e302f;
    color:#BCBDC0;
}
.btn-primary{
    background-color: #2A4455!important;
}
.login-card{ 
    min-height:40vh;
}
.login-cont{
    background-color: #2A4455;
    min-height:40vh;
}
header{
    background-color:#2A4455;
}
footer {
    /* height: 60px; */
    background-color:#2A4455;
    padding: 5px 0;
    /* width: 100%; */
}
.w-95{
    width:95%;
}
.h-90{
    max-height:70vh;
}
.item{
    border:1px solid  #666655;
    border-radius: 5px;
    background-color: #f2f3cb;
}
.itemA{
    border: 1px solid #516151;
    border-radius: 5px;
    background-color: #cbf3cb;
  }